{{#*inline "header-block"}}
<style>  
    .post-list-item {
        border-top: 1px dashed #ddd;
        padding: 0 10px;
    }

    .post-info{
        display: inline-block;
        vertical-align: middle;
    }

    .post-title a{
        display: inline-block;
        width: 100%;
        margin: 15px 0 3px 0;
        color: #585356;
        font-weight: 500;
        font-family: Lato,"Microsoft YaHei",sans-serif;
    }

    .post-title a:hover{
        color: #2474b5;
        transition: color 0.3s ease;
    }

    .post-thumb {
        width: 160px;
        display: inline-block;
        vertical-align: middle;
        margin: 10px 0;
        margin-right: 10px;
        text-align: center;
    }

    .post-meta span{
        font-size: .7rem;
        color: #999;
        line-height: .7rem;
    }

    .post-meta a:hover{
        color: #eee;
        background-color: #2474b5;
        transition: all .2s ease;
    }

    .post-summary{
        padding: 5px 0;
    }

    #pagination{
        text-align: center;
    }

</style>
{{/inline}}

{{#*inline "title"}}
{{ viewbag.title }}
{{/inline}}

{{#*inline "content"}}

<div class="layui-card">
    <div class="layui-card-header">{{ viewbag.list_title }}</div>
    <div class="layui-card-body">
        {{#each post_list_info.page_items}}
        <div class="post-list-item">
            {{#if (not_empty_str thumbnail) }}
            <div class="post-thumb layui-hide-xs">
                <a href="/posts/post/{{url}}">
    	            <img style="max-width: 160px;max-height: 100%;" src="{{thumbnail}}" alt="图片呢？(｡•ˇ‸ˇ•｡)">
                </a>
            </div>
            {{/if}}
            <div class="post-info">
                <h2 class="post-title">
                    <a href="/posts/post/{{url}}">{{ title }}</a>
                </h2>
                
                <div class="post-meta">
                    <span>{{ create_time }} /</span>
                    <span>阅读 {{ reads }}</span> 
                    <br>
                    {{#each tags}}
                    <a href="/posts/tag/{{name}}" class="layui-badge-rim">{{ display_text }}</a>
                    {{/each}}
                </div>
                <p class="post-summary">{{ summary }}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if (gt post_list_info.total_pages 1)}}
    <div id="pagination"></div>
    {{/if}}
</div>
{{/inline}}

{{#*inline "script-block"}}
<script>
    layui.use('laypage', function(){
        var laypage = layui.laypage;
        
        laypage.render({
            elem: 'pagination',
            theme: '#2474b5',
            count: {{ post_list_info.total_num }},
            limit: {{ post_list_info.per_page }},
            curr: {{ post_list_info.curr_page }},
            prev: 'prev',
            next: 'next',
            jump: function(obj, first){
                // doing nothing when init call
                if(!first){
                    location.assign("/posts?page=" + obj.curr);
                }
            }
        });
    });
</script>
{{/inline}}

{{~> base ~}}