{{#*inline "header-block"}}
<style>  

.article-wrapper .date-and-category {
    font-size: 0.8125rem;
    text-align: center;
    border: 1px solid #2a579a;
    border-radius: 0.1875rem;
}

.date-and-category .categories {
    color: #fff;
    background-color: #2a579a;
    padding: 0.125rem 0;
}

.date-and-category .date{
    color: #2a579a;
    padding: 0.125rem 0;
}

.article-wrapper .article-title a {
    color: #2a579a;
}

.article-wrapper .article-title a:hover {
    text-decoration: none;
    color: #1999ec;
    transition: all 0.25s;
    cursor: pointer;
}

.blog-head-picture{
    height: 90px;
    width: 90px;
}

.side-categorys{
    margin-top: 20px;
}

</style>
{{/inline}}

{{#*inline "content"}}

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="container article-wrapper">
                <h4>
                    <span>所有文章</span>
                    <a class="float-right d-none d-md-block" target="_blank" title="订阅" href="/rss">
                        <span class="fa fa-rss"></span>
                    </a>
                </h4>
                <hr>
                {{#each articles}}
                <div class="row">
                    <div class="col-md-2 d-none d-sm-none d-md-block">
                        <div class="date-and-category">
                            <div class="date">{{ create_at }}</div>
                            <div class="categories">
                                <a href="/#">{{ category }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <div class="article-title">
                            <a href="/article/{{ id }}">{{ title }}</a>
                        </div>
                        <div class="aricle-meta d-none d-sm-block">
                            <span class="badge badge-pill badge-secondary">{{ visit_count }} Reads</span>
                        </div>
                    </div>
                </div>
                <hr />
                {{/each}}
            </div>
            
            <div class="pagination-container pagination-sm">
                <ul class="pagination justify-content-center">
                    <li class="page-item active"><span class="page-link">1</span></li>
            
                    <li class="page-item PagedList-skipToNext"><a class="page-link" href="?page=2" rel="next">&gt;</a></li>
                    <li class="page-item PagedList-skipToLast"><a class="page-link" href="?page=31">&gt;&gt;</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 d-lg-block d-none d-ms-none d-md-none">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="/about">
                                    <img src="/static/dist/img/brand.png" class="rounded-circle blog-head-picture" alt="这里是头像">
                                </a>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://github.com/dayang"><i class="fab fa-github"></i></a>
                                <i class="fa fa-map-marker-alt" style="font-size: .6rem;"> Shanghai</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row side-categorys">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                分类
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="/#">读书</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/#">文章</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/inline}}

{{~> base ~}}